<footer class="footer-distributed">

      <div class="footer-left">

              <!-- Logo -->
        <%= link_to root_path, class: "logo navbar-wagon-brand" do %>
          <h1 class="logo-h1"><b class="logo-b">DEBAT</b>app</h1>
        <% end %>

        <p class="footer-links">
          <%= link_to "Home", root_path %>
          ·
          <%= link_to "Privacy policy", privacy_path %>
          ·
          <%= link_to "About", about_path %>
          ·
          <%= link_to "Blog", blog_path %>
        </p>

        <p class="footer-company-name">DEBATapp &copy; 2018</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>18 Rue Tronchet</span> Lyon, France</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>0659100866</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">lyon@lewagon.org</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span><%= t('.about') %></span>
          <%= t('.about infos') %>
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/lewagonlyon"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/lewagonlyon?lang=fr"><i class="fab fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/matthieu-cartillier-10a67ba7/"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/cartosnet"><i class="fab fa-github"></i></a>

        </div>

      </div>
